body {
  margin: 0;
}

.nav-bar {
  background-color: black;
  display: flex;
  width: 100%;
	justify-content: space-around;
  align-items: center;
  }

.icon-list {
  list-style: none;
  margin-left: 5%;
  align-content: space-between;
  display: flex;
  
}

.icon-list li{
  margin: 10%;  
}

.logo-steam {
  width: 15vw;
  height: 5vw;  
}

.img-graphic {
  width: 40px;
  height: 40px;
}

.img-filter {
  width: 40px;
  height: 40px;
}

.filters {
  width: 100px;
  font-family: Impact, Haettenschweiler;
  font-size: 20px;
  color:rgb(23, 23, 23);
}

.options {
  color:rgb(23, 23, 23);
  font-family: Impact, Haettenschweiler;
  font-size: 18px;
}

.img-calendar {
  width: 50px;
  height: 50px;
  margin-left:5%;
}

.data-set {
  background-color: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#news {
  background-color: rgba(12, 9, 24, 0.637);
  width: 50%;
  height: 300px;
  margin-right: 1%;
}

.team-fortress {
  color: white;
  background-color: #3f3d3d;
  width: 45%;
  height: 300px;
  margin-left: 1%;
}

.filter{
  background-color: #800000;
  color:black;
  font-family: Impact;
  margin-top: 100px;
  padding-top: 30px;
  padding-left: 10%;
  width: 100vw;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.input-filter{
  width: 100vw;
}

.filtered-news{

}

footer{
  background-color: black;
  color: aliceblue;
}
