@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
body {
  margin: 0;
}

.nav-bar {
  background-color: black;
  display: flex;
  width: 100%;
	justify-content: space-around;
  align-items: center;
  height: 130px;
  }

.icon-list {
  list-style: none;
  margin-left: 5%;
  align-content: space-between;
  display: flex;
}

.icon-list li{
  margin: 10%;  
}

.logo-steam {
  /* width: 15vw;
  height: 5vw;   */
}

.img-graphic {
  width: 40px;
  height: 40px;
}

.img-filter {
  width: 40px;
  height: 40px;
}

.dropdown {
  font-family: 'OpenSans';
  font-size: 20px;
  color: #fff;
}

.dropdown-filters {
  /* width: 100px; */
  font-family: 'OpenSans';
  font-size: 20px;
  color:#fff;
}

.options {
  color:rgb(23, 23, 23);
  font-family: Impact, Haettenschweiler;
  font-size: 18px;
}

.img-calendar {
  width: 50px;
  height: 50px;
  margin-left:5%;
}

.data-set {
  background-color: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#news {
  background-color: rgba(12, 9, 24, 0.637);
  width: 50%;
}

#news h3 {
  font-family: 'Sniglet';
  color:white;
  padding-left: 5%;
}

.team-fortress {
  color: white;
  background-color: #3f3d3d;
  width: 49%;
  background-image: url();
  padding-left: 5%;
  font-family: 'Sniglet';
}

#list-news {
  list-style: none;
  font-family: 'Sniglet';
  color: #fff;
  background-image: url();
}

.filter{
  background-color: #800000;
  color:#0a101d;
  font-family: 'Sniglet';
  font-size: 20px;
  padding-top: 30px;
  padding-left: 10%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filtered-news h3 {
  font-family: 'Sniglet';
}

#show-filtered-news{
  list-style: none;
  display: flex;
  flex-direction: row;
}


.list-filtered-news{
  font-family: 'OpenSans', sans-serif 600 40px;
  background-color: transparent;
  border-radius: 10px;
  border: solid #fff 2px;
  width: 30%;
  padding-right: 5%;
  margin: 2% 0% 5% 2%;
}

.sort-news{
  padding-left: 5%;
}

#footer{
  background-color: black;
  color: aliceblue;
  height: 60%;
  size: 500px;
  font-family: 'Sniglet';
}

footer h3{
  padding-left: 2%;
}